@import url('https://fonts.cdnfonts.com/css/public-pixel');

body {
  font-family: 'Public Pixel', sans-serif;
  background-image: url("https://i.pinimg.com/736x/44/86/43/4486432dd1a99e7e6e4a3c42767f3334.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  color: black;
}

.topnav {
  background-color: #f4e3ff;
  overflow: hidden;
  text-align: center;
}

.topnav a {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

.topnav a:hover {
  background-color: #f4e3ff;
  font-weight: bold;
}

.container {
  width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #d3cfd6;
  border-radius: 10px;
  position: relative;
}

.room {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px auto;
}

.placed-image {
  position: absolute;
  width: 150px;
  height: 120px;
  cursor: grab;
}

.side-buttons {
  position: absolute;
  top: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-buttons { left: 20px; }
.right-buttons { right: 20px; }

.button {
  background-color: #eb428e;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Public Pixel', sans-serif;
}

.bottom-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.control {
  background-color: #fac8e1;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-family: 'Public Pixel', sans-serif;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  display: none;
  z-index: 3;
}

.popup img {
  width: 80px;
  height: 80px;
  margin: 10px;
  cursor: pointer;
}

.popup button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.light-image {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.audio-player {
  position: absolute;
  top: 10px;
  right: 10px;
}
