* {
  background: #e0dfe8;
}

#header {
  text-align: center;
  line-height: 5px;
}

h1 {
  font-family: Helvetica, serif;
  font-size: 300%;
  padding: 10px;
}

h2 {
  font-family: Noto Sans, sans-serif;
  font-weight: normal;
}

button {
  font-family: Noto Sans, sans-serif;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
  width: 100%;
}

#webpages {
  height: 200%;
  width: 50%;
  padding: 10px;
  text-align: left;
  display: table-cell;
  background-color: #b6b7cf;
}

#description {
  height: 200%;
  width: 50%;
  padding: 10px;
  display: table-cell;
  text-align: justify;
  background-color: white;
  font-family: Noto Sans, sans-serif;
}

footer {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #a6a6a6;
  font-size: 14px;
}
